
RTAnode-1.0-1_arm64/usr/local/share/.secrets/*
!RTAnode-1.0-1_arm64/usr/local/share/.secrets/AWS
!RTAnode-1.0-1_arm64/usr/local/share/.secrets/Azure
!RTAnode-1.0-1_arm64/usr/local/share/.secrets/cebabletier
RTAnode-1.0-1_arm64/usr/local/share/.secrets/AWS/*
RTAnode-1.0-1_arm64/usr/local/share/.secrets/Azure/*
RTAnode-1.0-1_arm64/usr/local/share/.secrets/cebabletier/*
!RTAnode-1.0-1_arm64/usr/local/share/.secrets/AWS/address.txt
!RTAnode-1.0-1_arm64/usr/local/share/.secrets/Azure/address.txt
!RTAnode-1.0-1_arm64/usr/local/share/.secrets/cebabletier/address.txt
